Package: dltselftestapp-dbgsym
Source: dltselftestapp
Version: 1.0.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: User <ngoan.tranduy@vn.bosch.com>
Installed-Size: 21
Depends: dltselftestapp (= 1.0.0)
Section: debug
Priority: optional
Description: debug symbols for dltselftestapp
Build-Ids: 38bda72e167fcf833d6bf68569f79ab8d048aee9
